/*
* @Author: 张月馨
* @Date:   2020-12-10 19:46:46
* @Last Modified by:   张月馨
* @Last Modified time: 2020-12-11 22:49:39
*/

.all{
	width: 1518px;
	margin: auto;
	position: relative;
	background-image: url('../image/bgd.jpg');
}
#after{
	width: 1518px;
	height: 1500px;
	/* background-image: url('../image/bgd.jpg'); */
}
.header{
	width: 1519.2px;
	height:98px;
	position: relative;
}
.header ul{
	float: left;
	width: 700px;
	margin-left: 30px;
	
}
.header ul li{
	width: 140px;
	height: 98px;
	line-height: 98px;
	text-align: center;
	display: inline-block;
	float: left;
}
.header ul li a{
	color: #e19f0a;
	font-weight: bolder;
}
.he{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 250px;
}
.form{
	float: left;}
.search{
	float: left;
	width:70px;
	height:15px;
	font-size:14px;
	font-family:Microsoft YaHei;	
	font-weight:400;
	background-color:rgb(243, 223, 237);
	line-height:31px;
	padding-top: 13px;
	padding-bottom: 12px;
	padding-left: 19px;
	padding-right: 100px;
	margin-left: 80px;
	margin-top: 31px;
	border: 1px solid rgb(209, 28, 28); 
}
.submit{
	float: left;
	width:52px;
	height:42px;
	margin-top: 31px;
	border:1px solid rgb(209, 28, 28);
	background:rgb(209, 28, 28) url(../image/fa-search.png) no-repeat center center

}

.right{
	width: 900px;
	height: 1400px;
	margin: 0;
	position: absolute;
	right: 200px;
	background-color: rgba(163, 152, 152, 0.5);

}

.left{
	width: 200px;
	height: 500px;
	margin: 0;
	position: absolute;
	left: 200px;
	background-color: rgba(163, 152, 152, 0.5);
}

.img{
	width: 700px;
	margin: 10px 80px;
}
#banner {
  width:100%;
  padding:0;
  clear: both;
  /* position: relative; */
  height: 300px;
  z-index:1;
}
#img-list {
  display: block;
  width:800px;
  height: 300px;
  overflow: hidden;
  z-index:1;
  position: relative;
}
#img-list li{
  float: left;
  width:100%;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
}
#list {
  width:100%;
  height:18px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  z-index: 100;
}
#list > span {
  width:18px;
  height: 18px;
  overflow: hidden;
  display: inline-block;
  margin:0 2px;
  background: url(../images/yuan.png);
  cursor: pointer;
}
#list .on {
  background: url(../images/huanyu.png);
}

.msg{
	margin:20px;
}
.msg li{
	width: 80px;
	height: 50px;
	padding: 20px 40px;
	color: #ff0081;
	font-weight: bolder;
}
h2{
	color: #0a0d68;
}
h3{
	color: #0a0d68;
}
/* p{
	color: #6a1c14;
	font-weight: bolder;
} */

#syn{
	width: 700px;
	height: 300px;
	padding: 20px;
	border: 5px solid #d58dcd;
	margin: 20px auto;
	/* position: absolute;
	left: 70px;  */
	overflow: auto;
}

#act{
	width: 700px;
	height: 300px;
	padding: 20px;
	border: 5px solid #d58dcd;
	margin: 20px auto;
	overflow: auto;
}
#act p{
	text-align: center;
}

#btc{
	width: 700px;
	height: 280px;
	padding: 20px;
	border: 5px solid #d58dcd;
	margin: 20px auto;
	overflow: auto;
	
}
